<header>
    - Portfolio Revenue -
</header>
<ul>
    <li>'Date Recvd' & 'Amount' fields may be edited to reflect corrections.</li>
    <li>Select [x] ticker(s) to mark for update(s), prior to submitting via "Update Income".</li>
    <li>Income record count : &nbsp;<strong>{{incomeRecordCount}}</strong></li>
</ul>

<span style="font-size:15px; color: darkblue; padding: 5px;">Show revenue to include the following number of back-dated years:</span>&nbsp;&nbsp;
<select #yearsOfIncomeToShow class="select-option" (change)="onYearsToShow(yearsOfIncomeToShow.value)">
    <option value="0" selected>0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<p>
    <ag-grid-angular #agGridRevenue
                     id="gridRevenue"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     rowSelection="multiple">
    </ag-grid-angular>
</p>
<p>
    <button id="btnRevenue" (click)="processEditedRevenue()">Update Income</button>
</p>
