<header>
    - Portfolio Revenue -
</header>
<ul>
    <li>Select [x] ticker(s) for update(s), prior to selecting "Update Income".</li>
    <li>'Date Recvd', 'Amount', & 'Div.Freq' may be edited.</li>
    <li>All columns, except <em>'Amount'</em>, may be filtered, with resulting tallies shown.</li>
    <li>Press [CTRL+SHIFT] to edit multiple records simultaneously.</li>
    <li>Income record <em>count</em> : &nbsp;<strong>{{incomeRecordCount}}</strong></li>
    <li>Income record <em>total</em> : &nbsp;<strong>{{incomeRecordTotal | currency : 'USD'}}</strong></li>
</ul>

<span style="font-size:15px; color: darkblue; padding: 5px;">Show revenue to include the following number of back-dated years:</span>&nbsp;&nbsp;
<select #yearsOfIncomeToShow class="select-option" (change)="onYearsToShow(yearsOfIncomeToShow.value)">
    <option value="0" selected>0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<p>
    <ag-grid-angular #agGridRevenue
                     id="gridRevenue"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     (filterChanged)="onFilterChanged($event)"
                     (cellValueChanged)="onCellValueChanged($event)"
                     (selectionChanged)="onSelectionChanged($event)"
                     rowSelection="multiple">
    </ag-grid-angular>
</p>
<p>
    <button id="btnRevenue" class="btn" (click)="processEditedRevenue()">Update Income</button>&nbsp;&nbsp;
    <button id="btnDeleteRevenue" [disabled]="btnDeleteIsDisabled" disabled class="btn" (click)="deleteRevenue()">Delete</button>
</p>
