<header>
    - New investor sign up -
</header>

<div class="jumbotron">

    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h3 id="registrationHdr">Registration</h3></div>
        </div>
        <br />

        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <label class="col-sm-3 control-label" for="firstName">First Name:</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input id="fname" type="text" class="form-control" formControlName="firstName" [ngClass]="{'isInValid': submitted && formFields.firstName.errors}">
                        <div *ngIf="submitted && formFields.firstName.errors" class="text-danger">
                            <div *ngIf="formFields.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <label class="col-sm-3 control-label" for="lastName">Last Name:</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input id="lname" type="text" class="form-control" formControlName="lastName" [ngClass]="{'isInValid': submitted && formFields.lastName.errors}">
                        <div *ngIf="submitted && formFields.lastName.errors" class="text-danger">
                            <div *ngIf="formFields.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <label class="col-sm-3 control-label" for="investorName">Username:</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input id="uname" type="email" class="form-control" placeholder="login Email addr" formControlName="loginName" [ngClass]="{'isInValid': submitted && formFields.loginName.errors}">
                        <div *ngIf="submitted && formFields.loginName.errors" class="text-danger">
                            <div *ngIf="formFields.loginName.errors.required">Login name is required</div>
                        </div>
                        <div *ngIf="submitted && formFields.loginName.errors" class="text-danger">
                            The question mark(?) is a safe navigation operator, protecting against NULL properties
                            <div *ngIf="formFields.loginName.errors?.pattern">User name must be in email format</div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <label class="col-sm-3 control-label" for="password">Password:</label>
                <div class="col-sm-7">
                    <div class="input-group input-group-md">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" id="pwrd" placeholder="6 char minimum" class="form-control" formControlName="password" [ngClass]="{'isInValid': submitted && formFields.password.errors}">
                        <div *ngIf="submitted && formFields.password.errors" class="text-danger">
                            <div *ngIf="formFields.password.errors.required">Password is required</div>
                            <div *ngIf="formFields.password.errors.minLength">Password requires at least 6 characters</div>
                            <div id="divPwrd" *ngIf="formFields.password.errors.pwrd">
                                <hr />Weak password. At minimum, ensure at least one
                                <ul>
                                    <li>character is uppercase</li>
                                    <li>character is lowercase</li>
                                    <li>character is a number</li>
                                    <li>character is special case (e.g. #)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br />

            <div class="row">
                <div class="col-sm-3">
                    <button id="btnRegistration" [disabled]="loading" class="btn">Register</button>
                </div>
                <div class="col-sm-2">
                    <a id="cancel" routerLink='/' class="btn btn-link">Cancel</a>
                </div>
            </div>

        </form>

    </div>

</div>
