label{
    padding-top: 8px;
}
input {
    background-color: lightgoldenrodyellow;
}
h3{
    margin-top: 4px;
}
.input-group-addon {
    background-color: #e1e5ed;
}
#registrationHdr {
    color: #337AB7;
    margin-left: -149px;
}
#divPwrd{
    padding-left: 21px;
    color: orangered;
}
div.jumbotron {
    margin-top: -20px;
    height: 751px;
    margin-bottom: 0;
    width: 800px;
}
#fname, #lname, #uname, #pwrd{
    margin-top: -38px;
    margin-left: 100px;
}
label[_ngcontent-ng-cli-universal-c3] {
    padding-top: 1px;
}
#cancel{
    margin-top: -65px;
    margin-left: 239px;
}
