label{
    padding-top: 6px;
}
input {
    background-color: lightgoldenrodyellow;
}
h3{
    margin-top: -20px;
}
.input-group-addon {
    background-color: #e1e5ed;
}
#registrationHdr {
    color: #337AB7;
    text-align: center;
}
#divPwrd{
    padding-left: 21px;
    color: orangered;
}
div.jumbotron {
    margin-top: 16px;
    height: 426px;
    margin-bottom: 0;
    width: 634px;
}
#cancel{
    margin-top: 51px;
    margin-left: 70px;
}
header {
    background-color: #222;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 633px;
    height: 34px;
    margin-top: -19px;
}
#btnRegistration{
    margin-top: 50px;
    margin-left: -43px;
    width: 205px;
}
