<header>
    - Income due schedule for <em> {{currentMonth}} </em> -
</header>
<ul>
    <li>Schedule lists all positions for which there is outstanding income.</li>
    <li>'Div.Day' values are <em>approximate</em> days of the month when income can be expected.</li>
    <li>Select [x] position(s) to mark as income received, prior to clicking "Update selection(s)".</li>
    <li>Income saved via "Data import", automatically resets income due for next income cycle.</li>
    <li>Unpaid Position(s) count: &nbsp; <strong>{{positionCount|number}}</strong></li>
</ul>
<p></p>
<p>
    <ag-grid-angular #agGridReceivables
                     id="gridReceivables"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     rowSelection="multiple">
    </ag-grid-angular>
</p>
<p>
    <button id="btnReceivables" class="btn" (click)="processPositionUpdates()">Update selection(s)</button>
 </p>
