header {
    background-color: #222;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 633px;
    height: 34px;
}
ul {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 15px;
}
#gridReceivables{
    width: 402px;
}

