<header>
    - Income due schedule for <em> {{currentMonth}} </em> -
</header>
<ul>
    <li>Schedule list all position(s) for which there is outstanding income.</li>
    <li>'Div.Day' are <em>approximate</em> days of the month when income can be expected.</li>
    <li>Select [x] position(s) to mark as income received, prior to "Update selection(s)".</li>
    <li>All income recorded/saved via "Data import" menu option.</li>
    <li>Unpaid Position(s) count: &nbsp; <strong>{{positionCount|number}}</strong></li>
</ul>
<p></p>
<p>
    <ag-grid-angular #agGridReceivables
                     id="gridReceivables"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     rowSelection="multiple">
    </ag-grid-angular>
</p>
<p>
    <button id="btnReceivables" (click)="processPositionUpdates()">Update selection(s)</button>
 </p>
