<header>
    - Income Projections -
</header>
<ul>
    <li>Select [x] row(s) prior to clicking "Get Projections".</li>
    <li>Income column: all projections are <em>monthly approximations</em> only.</li>
    <li>Ticker & Capital columns : required entries.</li>
    <li>Price & Rate columns : allow for <em>optional</em> manual override entry(ies), ensuring accuracy.</li>
    <li>Rate column: Manual override entries assume MONTHLY dividend values. </li>
    <li>All internet-derived displayed rate(s) are per distribution frequency.</li>
</ul>
<p>
    <!--   ** Note use of ag-grid-angular selector *  -->
    <ag-grid-angular #agGrid
                     id="gridProjections"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="defaultColDef"
                     rowSelection="multiple">
    </ag-grid-angular>

    <!--This is the ag-grid component definition, with two property bindings - rowData and columnDefs.
        The component also accepts the standard DOM style and class. We have set the class to ag-theme-balham,
        which defines the grid theme. As you may have already noticed, the CSS class matches the name of CSS
        file we imported earlier.-->


</p>
<button id="btnProjections" class="btn" (click)="getProjections()">Get Projections</button>&nbsp;
<button id="btnClear" class="btn" (click)="ngOnInit()">Clear</button>


