<header>
    - Dividend/interest distribution schedules -
</header>
<ul>
    <li>All columns are sortable except for "Month(s) Paid".</li>
    <li>All columns support filtering.</li>
    <li>
        Distribution frequency counts: &nbsp;
        [M: <strong>{{monthlyCount|number}}</strong>]  &nbsp;
        [Q: <strong>{{quarterlyCount}}</strong> ] &nbsp;
        [S: <strong>{{semi_annualCount}}</strong>]  &nbsp;
        [A: <strong>{{annualCount}}</strong>]
    </li>
</ul>
<p></p>
<p>
    <ag-grid-angular #agGridDistributions
                     id="gridDistributions"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs">
    </ag-grid-angular>
</p>
