
label {
    padding-top: 8px;
}

input {
    background-color: lightgoldenrodyellow;
}

h3 {
    margin-top: -30px;
}

.input-group-addon {
    background-color: #e1e5ed;
}

#passwordResetHdr {
    color: #337AB7;
}

#divOldPwrd, #divReqdNew, #divReqdLen, #divReqdConfirm, #divPwrdConfirm, #divPwrdNew {
    padding-left: 21px;
    color: orangered;
}

.jumbotron {
    margin-top: 16px;
    margin-bottom: 0;
    width: 637px;
    height: 340px;
}
header {
    background-color: #222;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 633px;
    height: 34px;
    margin-top: 3px;
}
#btnPwrdReset{
    width: 140px;
    margin-left: -45px;
}
a{
    margin-left: -12px;
}
