<div class="jumbotron" style="margin-bottom:0; width:800px;">

    <div class="container">
        <div id="row1" class="row">
            <div class="col text-center"><h3 id="passwordResetHdr">Change password</h3></div>
        </div>

        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" style="margin-top:27px;">

            <label class="col-sm-3 control-label" for="oldPassword">Old Password:</label>
            <div class="col-sm-8">
                <div class="input-group input-group-md">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password" id="pwrdOld" class="form-control" formControlName="oldPassword" [ngClass]="{'isInValid': submitted && formFields.oldPassword.errors}">
                    <div *ngIf="submitted && formFields.oldPassword.errors" class="invalid-feedback">
                        <!--* Debug - make sure all 'ngIf' conditionals are fully & accurately qualified!-->
                        <div id="divOldPwrd" *ngIf="formFields.oldPassword.errors.required">Old password is required.</div>
                    </div>
                </div>
            </div>
            <br><br><br />


            <label class="col-sm-3 control-label" for="newPassword">New Password:</label>
            <div class="col-sm-8">
                <div class="input-group input-group-md">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password" id="newPwrd" placeholder="6 char minimum" class="form-control" formControlName="newPassword" [ngClass]="{'isInValid': submitted && formFields.newPassword.errors}">
                    <div *ngIf="submitted && formFields.newPassword.errors" class="invalid-feedback">
                        <div id="divReqdNew" *ngIf="formFields.newPassword.errors.required">A new password is required</div>
                        <div id="divReqdLen" *ngIf="formFields.newPassword.errors.minlength">New password requires at least 6 characters</div>
                        <div id="divPwrdNew" *ngIf="formFields.newPassword.errors.newPwrd">
                            <hr />Weak password. At minimum, ensure at least one
                            <ul>
                                <li>character is uppercase</li>
                                <li>character is lowercase</li>
                                <li>character is a number</li>
                                <li>character is special case (e.g. #)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br />

            
            <label class="col-sm-3 control-label" for="newPasswordConfirm">Confirm Password:</label>
             <div class="col-sm-8">
                <div class="input-group input-group-md">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password" id="newPwrdConfirm" class="form-control" formControlName="newPasswordConfirm" [ngClass]="{'isInValid': submitted && formFields.newPasswordConfirm.errors}">
                    <div *ngIf="submitted && formFields.newPasswordConfirm.errors" class="invalid-feedback">
                        <div id="divReqdConfirm" *ngIf="formFields.newPasswordConfirm.errors.required">A confirmation password is required</div>
                        <div id="divPwrdConfirm" *ngIf="formFields.newPasswordConfirm.errors.newPwrdConfirm">
                            <hr/>Non-matching passwords. Please check spelling.
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br />
            <p></p>

            <section>
                <div class="col-sm-4">
                    <button id="btnPwrdReset" style="width:205px;" [disabled]="loading" class="btn">Save</button>
                </div>
                <div class="col-sm-2">
                    <a routerLink='/' class="btn btn-link">Cancel</a>
                </div>
            </section>

        </form>

    </div>

</div>
