
<header>
    YTD income summary for:&nbsp;<em>{{currentYearHeading}}</em>
</header>

<ul>
    <li>All summary data is presented as read-only for viewing.</li>
    <li>'Amount recvd' - column data may be filtered as needed. </li>
    <li>YTD Income Summary Total:&nbsp;<strong>{{incomeSummaryTotal | currency}}</strong></li>
</ul>

<br/>

<p>
    <span><label>Display income summary for:&nbsp;&nbsp;</label></span>
    <select #yearSelected class="select-option" (change)="onYearSelected(yearSelected.value)">
        <!--Value = # of years backdated.-->
        <option value="0">{{currentYear}}</option>
        <option value="1">{{currentYear-1}}</option>
        <option value="2">{{currentYear-2}}</option>
        <option value="3">{{currentYear-3}}</option>
        <option value="4">{{currentYear-4}}</option>
        <option value="5">{{currentYear-5}}</option>
        <option value="6">{{currentYear-6}}</option>
        <option value="7">{{currentYear-7}}</option>
    </select>
</p>

<p>
    <ag-grid-angular #agGridIncomeSummary
                     id="gridIncomeSummary"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     rowSelection="multiple">
    </ag-grid-angular>
</p>





