
#inputFilePath {
  background-color: lightgoldenrodyellow;
  width: 555px;
  margin-left:-1px;
}
.panel .panel-default { /* adjust height as new fileds are added.*/
    height: 375px;
}
#notation {
  padding-left: 1px;
}
#panelSection { /* adjust panel height & width*/
    margin-top: 70px;
    height: 275px;
    width: 840px;
}
#lblFilePath, #lblDataType {
  text-align: left;
}
#lblDataType{
    width: 200px;
    margin-left:3px;
}
#divBtns {
  margin-left: 24px;
  margin-top: 3px;
}
input[type="file"] {
  display: block;
  height: 34px;
}
#btnImport {
  margin-left: -42px;
  width: 143px;
}
#btnCancel {
  width: 80px;
  margin-left: 10px;
}
#btnCancel, #btnImport {
    background-color: #DDDDDD;
    color: #333333;
}
#divDataTypes {
  margin-left: 2px;
  margin-top: 0px;
}
header {
    background-color: #222;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 633px;
    height: 34px;
    margin-top: -19px;
}
ul {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 15px;
}
#lastLi {
    margin-bottom: -53px;
}
.panel-default > .panel-heading {
    background-color: #3387c6;
    color: white;
}
div.panel-heading{
    width: 627px;
    margin-left: -8px;
}
#dataTypeDiv{
    width: 616px;
}
.jumbotron{
    width: 628px;  /*774px;*/
    margin-left: -8px;
    height: 275px;
}
h6{
    margin-top: -30px;
    width: 600px;
}

