<header>
    - Current portfolio Positions -
</header>
<ul>
    <li>'Status': editable to <em>(A)</em>ctive / <em>(I)</em>nactive, to reflect trade(s) and/or correction(s).</li>
    <li>'Unpaid': true / false, to reflect income received, but not yet recorded; editable for correction(s).</li>
    <li>Select [x] ticker(s) to mark for update(s), prior to submitting via "Update Position(s)".</li>
    <li>Total Position(s) count: &nbsp; <strong>{{positionCount|number}}</strong></li>
</ul>

<div>
    <input type="checkbox" [(ngModel)]="includeInactive" (change)="processInactiveData(includeInactive ? 'true' : 'false')" />
    &nbsp;
    <label>Include Positions with inactive status</label>
</div>

<p>
    <ag-grid-angular #agGridPositions
                     id="gridPositions"
                     class="ag-theme-blue"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     rowSelection="multiple">
    </ag-grid-angular>
</p>
<p>
    <button id="btnPositions" (click)="processEditedPositions()">Update Position(s)</button>
</p>

