
<div class="jumbotron">
    <h2>* Portfolio Income Management System *</h2>
    <h3 style="margin-left: 297px;">WELCOME</h3>
    <ul>
        <li>With this application, you may manage income derived from an existing investment portfolio.</li>
        <li>The application is <em>not</em> intended to replace, nor mimic an asset management system that may currently be commerically available.</li>
    </ul>

    <!--URL for sample: https://jasonwatmore.com/post/2018/10/29/angular-7-user-registration-and-login-example-tutorial  -->

    <hr />
    <div class="container">
        <div id="row1" class="row">
            <div class="col text-center"><h3 id="loginHdr">Login</h3></div>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <label class="col-sm-2 control-label" for="investorName">Username:</label>
            <div class="col-sm-8">
                <div class="input-group input-group-md">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Email / Username" formControlName="investorName" [ngClass]="{'isInValid': submitted && formFields.investorName.errors}">
                    <div *ngIf="submitted && formFields.investorName.errors" class="invalid-feedback">
                        <div *ngIf="formFields.investorName.required">Name is required</div>
                    </div>
                </div>
            </div>
            <br/><br/><br/>

            <label class="col-sm-2 control-label" for="password">Password:</label>
            <div class="col-sm-8">
                <div class="input-group input-group-md">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password" class="form-control" formControlName="password" [ngClass]="{'isInValid': submitted && formFields.password.errors}">
                    <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
                        <div *ngIf="formFields.password.required">Password is required</div>
                        <div *ngIf="formFields.password.errors.minLength">Password requires at least 6 characters</div>
                    </div>
                </div>
            </div>
            <br><br>

            <section>
                <div class="col-sm-4">
                    <button style="width:205px;" [disabled]="loading" class="btn">Login</button>
                </div>
                <div class="col-sm-2">
                    <a routerLink="/registration" class="btn btn-link">Register</a>
                </div>
            </section>

        </form>

    </div>
</div>





