
<div class="jumbotron" style="margin-bottom:0; width:800px;">
    <h2>* Portfolio Income Management System *</h2>
    <h3 style="margin-left: 297px;">WELCOME</h3>
    <ul>
        <li>With this application, you may manage <strong> income </strong> derived from an existing investment portfolio.</li>
        <li>The application is <em>not</em> intended to replace, nor mimic any asset management system that may currently be commerically available.</li>
    </ul>

    <!--URL for sample: https://bootsnipp.com/snippets/Qoe1g
        tabs help: https://www.w3schools.com/bootstrap4/bootstrap_navs.asp
                   https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_nav_tabs_toggleable&stacked=h
     -->
    <hr/>
    <div class="container">
        <div id="row1" class="row" style="width: 718px; margin-bottom: 22px;">
            <div class="col text-center"><h3 style="color: #4189C7;">Login</h3></div>
        </div> <!--row1 end-->
     
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div id="row2" class="row" style="width: 718px; height:45px;">
                <div class="formGroup">
                    <label class="col-md-3" style="width: 140px;" for="investorName">Investor name: &nbsp;</label>
                    <input type="text" style="width: 284px;" placeholder="name / email" formControlName="investorName" class="formControl" [ngClass]="{'isInValid': submitted && formFields.investorName.errors}" />
                    <div *ngIf="submitted && formFields.investorName.errors" class="invalid-feedback">
                        <div *ngIf="formFields.investorName.required">Name is required</div>
                    </div>
                </div>
            </div>

            <div id="row3" class="row" style="width: 718px; height:45px;">
                <div class="formGroup">
                    <label class="col-md-3" style="width: 140px;" for="password">Password: &nbsp;</label>
                    <input type="password" style="width: 284px;" formControlName="password" class="formControl" [ngClass]="{'isInValid': submitted && formFields.password.errors}" />
                    <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
                        <div *ngIf="formFields.password.required">Password is required</div>
                        <div *ngIf="formFields.password.errors.minLength">Password requires at least 6 characters</div>
                    </div>
                </div>
            </div>

            <div id="row4" class="row" style="width: 718px; height:45px;">
                <div class="formGroup, col-md-4">
                    <button [disabled]="loading" class="btn">Login</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    &nbsp;&nbsp;<a routerLink="/register" class="btn btn-link">Register</a>
                </div>
            </div>

        </form>

    </div> <!--container-->



</div>





