<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header' style="background-color:lightgoldenrodyellow">
            <span id="menuHdr" class='navbar-brand'>
               <strong>P.I.M.S.</strong>
            </span>
            <span id="loginDisplay">{{nameDisplayed}}</span>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <!--routerLinkActive :  Angular directive allowing for addition of a CSS class to an element when the link's route becomes active.
                    Note: Changes should also be reflected in 'app.module' - RouterModule.
    -->
                <li *ngIf="showLogIn" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]'>
                        <span class='glyphicon glyphicon-home'></span> Home - Login
                    </a>
                </li>
                <li *ngIf="showRegistration" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/registration"]'>
                        <span class='glyphicon glyphicon-envelope'></span> Registration
                    </a>
                </li>
                <!-- to be inserted in <li> : matTooltip="test tooltip message"-->
                <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                    <a [routerLink]='["/income-summary"]'>
                        <span class='glyphicon glyphicon-usd'></span> Income summary
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                    <a [routerLink]='["/income-projections"]'>
                        <span class='glyphicon glyphicon-usd'></span> Income projections
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                    <a [routerLink]='["/income-receivables"]'>
                        <span class='glyphicon glyphicon-usd'></span> Income due
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                    <a [routerLink]='["/income"]'>
                        <span class='glyphicon glyphicon-usd'></span> Income recorded
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                    <a [routerLink]='["/data-import"]'>
                        <span class='glyphicon glyphicon-file'></span> Data import
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                    <a [routerLink]='["/positions"]'>
                        <span class='glyphicon glyphicon-th-list'></span> Positions
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                    <a [routerLink]='["/profile"]'>
                        <span class='glyphicon glyphicon-file'></span> Asset profile
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='showGettingStarted()'>
                    <a [routerLink]='["/getting-started"]'>
                        <span class='glyphicon glyphicon-file'></span> Getting started
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]' (click)='processPasswordReset()'>
                    <a [routerLink]='["/password-reset"]'>
                        <span class='glyphicon glyphicon-file'></span> Password reset
                    </a>
                </li>
                <li *ngIf="showLogOut">
                    <a [routerLink]='["/"]' (click)='logoutInvestor()'>
                        <span class='glyphicon glyphicon-user'></span> Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
