
<div class='main-nav' style="height:810px">
    <div class='navbar navbar-inverse'>
        <div class='navbar-header' style="background-color:#e9ecef">
            <span id="menuHdr" class='navbar-brand'>
                <strong>P.I.M.S.</strong>
            </span><br/>
            <span id="loginDisplay">{{nameDisplayed}}</span>
        </div>
        <div class='clearfix'></div>

        <nav class="navbar navbar-light bg-dark">
           
            <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" [ngClass]="{ 'show': isCollapsed }" id="navBarToToggle">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngIf="showLogIn" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a class="nav-link" [routerLink]='["/"]'>
                            <span class='glyphicon glyphicon-home'></span> Home - Login
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="showRegistration" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a class="nav-link" [routerLink]='["/registration"]'>
                            <span class='glyphicon glyphicon-envelope'></span> Registration
                        </a>
                    </li>
                    <!-- to be inserted in <li> : matTooltip="test tooltip message"-->
                    <li class="nav-item" [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                        <a class="nav-link" [routerLink]='["/income-summary"]'>
                            <span class='glyphicon glyphicon-usd'></span> Income summary
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                        <a class="nav-link" [routerLink]='["/income-projections"]'>
                            <span class='glyphicon glyphicon-usd'></span> Income projections
                        </a>
                    </li>
                    <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                        <a class="nav-link" [routerLink]='["/income-receivables"]'>
                            <span class='glyphicon glyphicon-usd'></span> Income due
                        </a>
                    </li>
                    <li [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                        <a class="nav-link" [routerLink]='["/income"]'>
                            <span class='glyphicon glyphicon-usd'></span> Income recorded
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                        <a class="nav-link" [routerLink]='["/data-import"]'>
                            <span class='glyphicon glyphicon-import'></span> Data import
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                        <a class="nav-link" [routerLink]='["/positions"]'>
                            <span class='glyphicon glyphicon-th-list'></span> Positions
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' (click)='aboutThis()'>
                        <a class="nav-link" [routerLink]='["/profile"]'>
                            <span class='glyphicon glyphicon-file'></span> Asset profile
                        </a>
                    </li>
                    <li [routerLinkActive]='["link-active"]' (click)='showGettingStarted()'>
                        <a class="nav-link" [routerLink]='["/getting-started"]'>
                            <span class='glyphicon glyphicon-file'></span> Getting started
                        </a>
                    </li>
                    <li *ngIf="showPasswordReset" [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/password-reset"]'>
                            <span class='glyphicon glyphicon-edit'></span> Password reset
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="showLogOut">
                        <a class="nav-link" [routerLink]='["/"]' (click)='logoutInvestor()'>
                            <span class='glyphicon glyphicon-log-out'></span> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
</div>



