<header>
    - Profile for Asset -
</header>
<ul>
    <li>'Get Profile' - Fetch profile via web.</li>
    <li>'Get Saved Profile' - Fetch saved custom profile (view/edit).</li>
    <li>'Update Profile' - Update saved custom profile (dividend frequency and/or months paid).</li>
    <li>'Create Profile' - Create/Save a custom profile <em>if</em> data is unavailable via 'Get Profile'. </li>
    <li>*Note* - Custom profiles are read/write accessible & unique to each investor. </li>
</ul>

<!-- Legend for control error-validation activation:
    ==============================================
        1. "dirty"   = value changed.
        2. "touched" = focus set.
 -->

<div class="col-md-12" data-ng-app="incomeMgmt">
    <section class="panel panel-default" style="width:990px;">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Asset profile attributes
            </strong>
            <strong>
                <span class="glyphicon glyphicon-time" id="lastUpdate">&nbsp;{{currentDateTime}}</span>
            </strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form" [formGroup]="assetProfileForm">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="tickerSymbol">Ticker symbol:</label>
                    <div class="col-sm-2">
                        <input class="form-control" (blur)="enableButtonsForTicker()" oninput="this.value = this.value.toUpperCase()" id="tickerSymbol" formControlName="ticker" placeholder="Enter ticker" [readonly]="false" />
                        <div *ngIf="(!btnUpdateProfileSubmitted && !btnNewProfileSubmitted) && !cancelledNewProfileCreation && formFields.ticker.invalid && (formFields.ticker.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.ticker.errors.maxlength"> Ticker can't exceed 6 characters.</div>
                            <div *ngIf="formFields.ticker.errors.required"> Ticker required.</div>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label" for="divRate">Dividend rate ($):</label>
                    <div class="col-sm-2">
                        <input class="form-control" formControlName="divRate" id="divRate" [readonly]="isReadOnly">
                        <div *ngIf="!btnNewProfileSubmitted && formFields.divRate.invalid && (formFields.divRate.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.divRate.errors.max"> Maximum allowed rate: 30.</div>
                            <div *ngIf="formFields.divRate.errors.min"> Minimum allowed rate: 0.001.</div>
                            <div *ngIf="formFields.divRate.errors.required"> Rate required.</div>
                            <div *ngIf="formFields.divRate.errors.isNumber"> Invalid entry.</div>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label" for="divYield">Dividend yield (%):</label>
                    <div class="col-sm-2">
                        <input class="form-control" formControlName="divYield" id="divYield" [readonly]="isReadOnly">
                        <div *ngIf="!btnNewProfileSubmitted && formFields.divYield.invalid && (formFields.divYield.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.divYield.errors.max"> Maximum allowed yield: 50.</div>
                            <div *ngIf="formFields.divYield.errors.min"> Minimum allowed yield: 0.5.</div>
                            <div *ngIf="formFields.divYield.errors.required"> Yield required.</div>
                            <div *ngIf="formFields.divRate.errors.isNumber"> Invalid entry.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="tickerDesc">Ticker description:</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="tickerDesc" formControlName="tickerDesc" [readonly]="isReadOnly" maxlength="50" placeholder={{defaultTickerDesc}}>
                        <div *ngIf="!btnNewProfileSubmitted && formFields.tickerDesc.invalid && (formFields.tickerDesc.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.tickerDesc.errors.maxlength"> Maximum length for symbol: 50 characters.</div>
                            <div *ngIf="formFields.tickerDesc.errors.required"> Ticker description required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="divFreq">Dividend frequency:</label>
                    <div class="col-sm-2">
                        <input class="form-control" (blur)="enableDisableDivPayMonths()" oninput="this.value = this.value.toUpperCase()" id="divFreq" formControlName="divFreq" placeholder="A,S,Q,M" data-ng-model="vm.assetDivFreq" [readonly]="isReadOnly">
                        <div *ngIf="!btnNewProfileSubmitted && formFields.divFreq.invalid && (formFields.divFreq.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.divFreq.errors.maxlength"> Maximum allowed length for frequency: 1 character.</div>
                            <div *ngIf="formFields.divFreq.errors.required"> Frequency required.</div>
                            <div *ngIf="formFields.divFreq.errors.divFreq">
                                <hr />Allowed entries:
                                <ul>
                                    <li>(A)nnual</li>
                                    <li>(S)emi-annual</li>
                                    <li>(Q)uarterly</li>
                                    <li>(M)onthly</li>
                                </ul>
                            </div>
                        </div>
                        <!--<p>Form Status: {{ assetProfileForm.status }}</p>-->
                        <!--<p>Field value: {{ formFields.divFreq.value }}</p>-->
                    </div>
                    <label class="col-sm-2 control-label" for="peRatio">Price/Earnings:</label>
                    <div class="col-sm-2">
                        <input class="form-control" formControlName="peRatio" id="peRatio" [readonly]="isReadOnly">
                        <div *ngIf="!btnNewProfileSubmitted && formFields.peRatio.invalid && (formFields.peRatio.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.peRatio.errors.min"> Minimum allowed P/E: 1.00.</div>
                            <div *ngIf="formFields.peRatio.errors.isNumber"> Invalid entry.</div>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label" for="eps">Earnings/Share ($):</label>
                    <div class="col-sm-2">
                        <input class="form-control" formControlName="eps" id="eps" [readonly]="isReadOnly">
                        <div *ngIf="!btnNewProfileSubmitted && formFields.eps.invalid && (formFields.eps.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.eps.errors.min"> Minimum allowed EPS: 0.25.</div>
                            <div *ngIf="formFields.eps.errors.isNumber"> Invalid entry.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="unitPrice">Unit Price ($):</label>
                    <div class="col-sm-2">
                        <input class="form-control" formControlName="unitPrice" id="unitPrice" [readonly]="isReadOnly">
                        <div *ngIf="!btnNewProfileSubmitted && formFields.unitPrice.invalid && (formFields.unitPrice.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.unitPrice.errors.min"> Minimum allowed price: 0.50.</div>
                            <div *ngIf="formFields.unitPrice.errors.isNumber"> Invalid entry.</div>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label" for="divPayMonths">Div. pay months:</label>
                    <div class="col-sm-2">
                        <input class="form-control" formControlName="divPayMonths" id="divPayMonths" [readonly]="divPayMonthsIsDisabled">
                        <div *ngIf="(!btnUpdateProfileSubmitted && !btnNewProfileSubmitted) && formFields.divPayMonths.invalid && (formFields.divPayMonths.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.divPayMonths.errors.divPayMonths"> Invalid month(s).</div>
                            <div *ngIf="formFields.divPayMonths.errors.maxlength"> Maximum allowed length for months: 8 characters.</div>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label" for="divPayDay">Dividend pay day:</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="divPayDay" formControlName="divPayDay" [readonly]="isReadOnlyPayMonthsAndDay">
                        <div *ngIf="(!btnUpdateProfileSubmitted && !btnNewProfileSubmitted) && formFields.divPayDay.invalid && (formFields.divPayDay.dirty)" class="alert alert-danger">
                            <div *ngIf="formFields.divPayDay.errors.max"> Maximum allowed day: 31.</div>
                            <div *ngIf="formFields.divPayDay.errors.min"> Minimum allowed day: 1.</div>
                            <div *ngIf="formFields.divPayDay.errors.required"> Day of month required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <span>
                            <button id="btnProfile" style="width: 130px;" (click)="getProfile()" [disabled]="btnGetProfileIsDisabled" disabled class="btn">
                                Get Profile
                            </button>
                            <button id="btnSavedProfile" style="width: 135px;" (click)="getDbProfile()" [disabled]="btnGetDbProfileIsDisabled" class="btn">
                                Get Saved Profile
                            </button>
                            <button id="btnUpdateProfile" style="width: 130px;" (click)="updateProfile()" [disabled]="btnUpdateProfileIsDisabled" class="btn">
                                Update Profile
                            </button>
                            <button id="btnNewProfile" (click)="checkForDuplicates()" [disabled]="btnCreateProfileIsDisabled" class="btn">
                                Create Profile
                            </button>
                        </span>

                    </div>
                </div>

            </form>

        </div>
    </section>

</div>



