#divRate, #divYield, #tickerSymbol, #peRatio, #eps, #divPayMonths, #divPayDate, #unitPrice, #divFreq, #tickerDesc, #divPayDay {
    background-color: lightgoldenrodyellow;
}

#tickerSymbol {
    width: 95px;
}

 #divYield, #peRatio {
    width: 60px;
}
 #eps{
     width: 66px;
 }
#divRate {
    width: 73px;
}
#divPayMonths{
    width: 88px;  /*86px*/;
    margin-left: -14px;
}

#divPayDay {
    width: 45px;
    margin-left: -2px;
}

#divFreq {
    width: 71%;
}
#unitPrice{
    width:73px;
}

.panel .panel-default { /* adjust height as new fileds are added.*/
    height: 325px;
    margin-top: 325px;
}
.panel-default > .panel-heading { /*time stamp needs correcting*/
    background-color: #3387c6;
    color: white;
}

#tickerDesc {
    width: 468px;
    margin-left: -50px;
}

#uiView {
    /*margin-top: 110px;*/
    margin-top: 310px;
}

.col-md-12 {
    margin-top: 7px;
    margin-left: -14px;
}
header {
    background-color: #222;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 633px;
    height: 34px;
    margin-top: 3px;
}

ul {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 15px;
}

#btnNewProfile, #btnProfile, #btnSavedProfile, #btnUpdateProfile {
    background-color: #66A3FF;
    color: white;
}
#btnProfile{
    width: 115px;
    margin-left: -30px;
}
#btnSavedProfile{
    width: 147px;
}

#lastUpdate {
    float: right;
    font-weight: bold;
    padding-right: 7px;
    font-size: 15px;
}

#btnNewProfile {
    width: 122px;
}

#btnUpdateProfile {
    margin-left: -11px;
    margin-right: 20px;
}

#btnSavedProfile {
    margin-right: 25px;
}

/*Override default validation alert msgs.*/
.alert{
    width:135px;
    padding:10px;
    margin-bottom: 1px;
}
.form-group{
    margin-top: -49px;
}
#peRatio{
    margin-left: 14px;
}
#peDiv{
    padding-left: 0px;
}
#peLbl{
    padding-right:0px;
}
.jumbotron{
    height: 270px;
    margin-top: -6px;
}
#payDayLbl{
    margin-left: -47px;
    padding-right: 82px;
}
label{
    padding-top: 6px;
}



